body{
    font-family: 'Times New Roman', Times, serif
}
h1{
    font-family: Aachen Bold !important;
}

.customFont{
    font-family: Aachen Bold !important;
}

.imageCustom{
    width:40%;
    left: 0;
    right: 0;
    align-self: center;

}